.collab {
  background-color: $color-secondary;
  display: flex;
  padding: 30px 20px;

  &__invite {
    width: 140px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &__adress {
    @include reset;
    width: 140px;
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (min-width: 768px) {

  .collab {
    justify-content: space-between;
    padding: 60px 70px;

    &__invite {
      width: 160px;
      font-size: 20px;
      line-height: 25px;
    }

    &__adress {
      width: 160px;
      font-size: 16px;
      line-height: 25px;
    }
  }
}

@media (min-width: 768px) {

  .collab {
    padding: 60px 140px;
  }
}
