@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Oswald";
  src: url("fonts/Oswald-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }
body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  font-weight: 400; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

p, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.title {
  height: 104px;
  padding: 30px 20px;
  border-bottom: 1px solid #ededed;
  font-size: 36px;
  font-weight: 400; }

@media (min-width: 784px) {
  .title {
    height: 110px;
    padding: 30px;
    border-bottom: none;
    font-size: 60px;
    line-height: 60px; } }
@media (min-width: 1350px) {
  .title {
    height: 120px; } }
.container {
  width: 320px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px #444444;
          box-shadow: 0 0 5px #444444; }
  @media (min-width: 784px) {
    .container {
      width: 768px; } }
  @media (min-width: 1350px) {
    .container {
      width: 1300px; } }

.main-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .main-sale__item {
    padding: 10px 20px 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-bottom: 1px solid #ededed; }
  .main-sale__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .main-sale__table {
    width: 50%; }
  .main-sale__purchase {
    background-color: #49BD2E;
    color: #fff;
    text-transform: uppercase;
    font-family: inherit; }
    .main-sale__purchase--show {
      background-color: #f2f2f2;
      color: #444444; }
  .main-sale__purchase:hover {
    background-color: #3aaa20;
    cursor: pointer; }
  .main-sale__purchase--show:hover {
    background-color: #dddada; }
  .main-sale__purchase:active {
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }
  .main-sale__picture--plus {
    text-align: center;
    margin-bottom: 23px; }
  .main-sale__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

@media (min-width: 784px) {
  .main-sale {
    padding: 0 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .main-sale__item {
      width: 324px;
      padding: 40px 37px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(24.56%, #fff), color-stop(24.56%, #f2f2f2), to(#f2f2f2));
      background: linear-gradient(to bottom, #fff 24.56%, #f2f2f2 24.56%, #f2f2f2 100%); }
      .main-sale__item--more {
        padding: 0 37px 40px;
        margin-top: 143px;
        border: 1px solid #e7e7e7;
        background: #fff; }
    .main-sale__item:nth-child(2n+1) {
      margin-right: 60px; }
    .main-sale__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .main-sale__picture {
      height: 174px;
      margin-top: 64px; }
      .main-sale__picture--big {
        margin-top: 29px; }
      .main-sale__picture--plus {
        margin-top: 52px;
        margin-bottom: 0; }
    .main-sale__table {
      width: 100%;
      margin-bottom: 30px;
      border-collapse: collapse; } }
@media (min-width: 1350px) {
  .main-sale {
    padding: 0 40px; }
    .main-sale__item {
      width: 245px;
      margin-right: 80px; }
    .main-sale__item:nth-child(4n) {
      margin-right: 0; }
    .main-sale__picture--big {
      margin-top: 54px; }
    .main-sale__picture--plus {
      margin-top: 55px; } }
.product-info__caption {
  width: 79px;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase; }
  .product-info__caption--more {
    width: 100%;
    text-align: center; }
.product-info tbody {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444; }
.product-info td:last-child {
  text-align: right; }
.product-info__text {
  margin-bottom: 25px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center; }

@media (min-width: 784px) {
  .product-info__caption {
    width: 145px;
    margin: 40px auto 25px;
    font-size: 20px;
    text-align: center; }
    .product-info__caption--more {
      margin: 60px auto 30px; }
  .product-info tbody {
    font-size: 16px;
    line-height: 16px; }
  .product-info td {
    height: 30px;
    border-bottom: 1px solid #cdcdcd; }
  .product-info__text {
    width: 175px;
    margin: 0 auto 77px;
    font-size: 16px;
    line-height: 20px; } }
@media (min-width: 1350px) {
  .product-info__caption--more {
    margin: 58px auto 29px; } }
.button {
  width: 100%;
  height: 40px;
  border: none; }

.additional-sale__title {
  height: 86px;
  padding: 0 20px;
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 86px; }
.additional-sale__title::after {
  content: "";
  width: 54px;
  height: 3px;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: #49BD2E; }
.additional-sale__content {
  padding: 0 20px;
  list-style: none; }

@media (min-width: 784px) {
  .additional-sale__title {
    margin-left: 36px;
    height: 182px;
    font-size: 36px;
    line-height: 182px; }
  .additional-sale__title::before {
    content: "";
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: -36px;
    background-color: #49BD2E; }
  .additional-sale__title::after {
    width: 325px; }
  .additional-sale__content {
    padding: 0 30px; } }
@media (min-width: 1350px) {
  .additional-sale {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .additional-sale__title {
      width: 100%;
      height: 194px;
      margin-left: 50px;
      line-height: 194px; }
    .additional-sale__title::before {
      width: 40px;
      left: -51px; }
    .additional-sale__title::after {
      width: 848px; }
    .additional-sale__content {
      width: 975px;
      padding: 0 40px;
      margin-right: 40px;
      margin-bottom: 85px; } }
.add-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #cdcdcd; }
  .add-item:first-child {
    border-top: 1px solid #cdcdcd; }
  .add-item__title {
    width: 100%;
    margin: 15px 0;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase; }
  .add-item__info, .add-item__price {
    margin-bottom: 14px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #444444; }
  .add-item__purchase {
    margin-bottom: 19px; }

@media (min-width: 784px) {
  .add-item {
    padding: 0 38px;
    border-right: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd; }
    .add-item__title {
      width: 344px;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 20px;
      line-height: 68px; }
    .add-item__info, .add-item__price {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 68px; }
    .add-item__purchase {
      margin-bottom: 28px; } }
@media (min-width: 1350px) {
  .add-item {
    width: 895px;
    padding-left: 0;
    padding-right: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-right: none;
    border-left: none; }
    .add-item__title {
      width: 325px; }
    .add-item__info {
      width: 245px; }
    .add-item__price {
      width: 80px; }
    .add-item__purchase {
      width: 245px;
      margin-top: 15px;
      margin-bottom: 16px; } }
.gift {
  min-height: 364px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(img/gift-photo-mobile.jpg) no-repeat 20px 40px; }
  .gift__button {
    margin-top: 100px;
    margin-bottom: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .gift__button svg:hover {
      fill: #e4edd5; }
  .gift__text {
    width: 170px;
    color: #fff;
    font-family: "Arial";
    line-height: 20px;
    text-align: center; }

@media (min-width: 784px) {
  .gift {
    min-height: 345px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: url(img/gift-photo-tablet.jpg) no-repeat 30px 70px; }
    .gift__button {
      margin-left: 116px;
      margin-right: 270px;
      margin-top: 0;
      margin-bottom: 0; }
    .gift__text {
      text-align: left; } }
@media (min-width: 1350px) {
  .gift {
    width: 245px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: url(img/gift-photo-desktop.jpg) no-repeat 0 0; }
    .gift__button {
      margin-left: 0;
      margin-right: 0;
      margin-top: 64px;
      margin-bottom: 50px; }
    .gift__text {
      text-align: center; } }
.collab {
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f2f2f2; }
  .collab__invite {
    width: 140px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase; }
  .collab__adress {
    width: 140px;
    font-family: "Arial";
    font-size: 14px;
    line-height: 20px; }

@media (min-width: 784px) {
  .collab {
    padding: 60px 70px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .collab > * {
      width: 160px;
      font-size: 20px;
      line-height: 26px; } }
@media (min-width: 1350px) {
  .collab {
    padding: 60px 100px; } }

/*# sourceMappingURL=style.css.map */