.add-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid $border-color-primary;
  
  &:first-child {
    border-top: 1px solid $border-color-primary;
  }
  
  &__title {
    width: 100%;
    margin: 15px 0;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;    
  }
  
  &__info,
  &__price {
    margin-bottom: 14px;
    font-family: "Arial", sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: $font-color;    
  }
  
  &__purchase {
    margin-bottom: 19px;
  }  
}

@media (min-width: $tablet-width) {
  .add-item {
    padding: 0 38px;
    border-right: 1px solid $border-color-primary;
    border-left: 1px solid $border-color-primary;
    
    &__title {
      width: 344px;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 20px;
      line-height: 68px;      
    }
    
    &__info,
    &__price {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 68px;      
    }
    
    &__purchase {
      margin-bottom: 28px;
    }
  } 
}

@media (min-width: $desktop-width) {
  .add-item {
    width: 895px;
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
    border-right: none;
    border-left: none;
    
    &__title {
      width: 325px;     
    }
    
    &__info {
      width: 245px;
    }
    
    &__price {
      width: 80px;
    }
    
    &__purchase {
      width: 245px;
      margin-top: 15px;
      margin-bottom: 16px;
    }
  }
}

