.container {
  margin: 0 auto;
  width: 320px;
  box-shadow: 0 0 5px $font-color;


  @media (min-width: $tablet-width) {
    width: 768px;
  }


  @media (min-width: $desktop-width) {
    width: 1300px;
  }
}
