.gift {
  min-height: 364px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(img/gift-photo-mobile.jpg) no-repeat 20px 40px;
  
  &__button {
    margin-top: 100px;
    margin-bottom: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    
    & svg:hover {
      fill: #e4edd5;
    }
  }
  
  &__text {
    width: 170px;    
    color: $color-white;
    font-family: "Arial";
    line-height: 20px;    
    text-align: center;
  }
}


@media (min-width: $tablet-width) {
  .gift {
    min-height: 345px;
    flex-direction: row;
    background: url(img/gift-photo-tablet.jpg) no-repeat 30px 70px;
    
    &__button {
      margin-left: 116px;
      margin-right: 270px;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    &__text {
      text-align: left;
    }
  }
}

@media (min-width: $desktop-width) {
  .gift {
    width: 245px;
    flex-direction: column;
    background: url(img/gift-photo-desktop.jpg) no-repeat 0 0;
    
    &__button {
      margin-left: 0;
      margin-right: 0;
      margin-top: 64px;
      margin-bottom: 50px;
    }
    
    &__text {
      text-align: center;
    }
  }
}
