@font-face {
  font-family: "Oswald";
  src: url('fonts/Oswald-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Oswald";
  src: url('fonts/Oswald-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

body {
  min-width: 320px;
  padding: 0;
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

p, h1, h2, h3, ul, li {
  margin: 0;
  padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
