$color-primary: #49BD2E;
$color-secondary: #f2f2f2;

$border-color-primary: #cdcdcd;
$border-color-secondary: #ededed;

$font-color: #444444;

$color-white: #fff;

$tablet-width: 768px;
$desktop-width: 1300px;
